<!-- <div class="dropdown" style="float: right; margin-right: 1%">
	<button class="btn btn-sm btn-dark dropdown-toggle" id="dropdownJezik" type="button" data-toggle="dropdown" style="background-color:transparent; border: 0px">{{"LANGUAGE"|translate}}
		<span class="caret"></span>
	</button>
	<div class="dropdown-menu bg-dark border border-light text-white" aria-labelledby="dropdownJezik" style="width: 5%;text-align: center;margin-right: 30%">
		<a (click)="switchLanguage('en')" role="button">
			<img src="../assets/images/flags/eng.png" width=15% height=15%>{{"ENGLISH"|translate}}
		</a>
		<div class="dropdown-divider"></div>
		<a (click)="switchLanguage('sr')" role="button">
			<img src="../assets/images/flags/srb.png" width=15% height=15%>{{"SERBIAN"|translate}}
		</a>
	</div>
</div> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<script src="node_modules/chart.js/src/chart.js"></script>
<div class="backgroundDiv"></div>
<app-menu></app-menu>
