h1 {
	font-family: 'BigNoodleTitling';
}

.backgroundDiv2 {
	background-image: url('/assets/images/background.png');
	background-size: cover;

	position: fixed;
	height: 100%;
	width: 100%;

	top: 0px;
	left: 0px;
	z-index: -1;
}

.container-fluid {
	color: white;
	font-family: 'Calibri light';
	font-size: 20px;
	padding: 20px;
}

form {
	margin: auto;
}

.col {
	padding: 20px;
}

hr {
	color: white;
	background-color: white;
	border-color: white;
}